
    <ul th:fragment="sidebar" class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/">
          <i class="bi bi-grid"></i>
          <span>Category</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="/haikyo">
          <i class="bi bi-journal-text"></i>
          <span>Ruins</span>
        </a>
      </li>

      <!-- SOOM MACD GC -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#nav-soon_macd_gc" data-bs-toggle="collapse" href="index.php">
          <i class="bi bi-journal-text"></i><span>SOON MACD GC</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="nav-soon_macd_gc" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="soon_macd_gc.php?date=2023-10-13">
              <i class="bi bi-circle"></i><span>2023-10-13</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-12">
              <i class="bi bi-circle"></i><span>2023-10-12</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-11">
              <i class="bi bi-circle"></i><span>2023-10-11</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-10">
              <i class="bi bi-circle"></i><span>2023-10-10</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-06">
              <i class="bi bi-circle"></i><span>2023-10-06</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-05">
              <i class="bi bi-circle"></i><span>2023-10-05</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-04">
              <i class="bi bi-circle"></i><span>2023-10-04</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-03">
              <i class="bi bi-circle"></i><span>2023-10-03</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-10-02">
              <i class="bi bi-circle"></i><span>2023-10-02</span>
            </a>
          </li>
          <li>
            <a href="soon_macd_gc.php?date=2023-09-29">
              <i class="bi bi-circle"></i><span>2023-09-29</span>
            </a>
          </li>
        </ul>
      </li><!-- End SOOM MACD GC -->
      </ul>